/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D0C5;
}
img {
    border: 10px solid #8C644D;
}
h1 {
    border: 5px dotted #8C644D;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-size: 1.5rem;
    font-weight: bold;
}
#myid {
    color: #734136;
    font-weight: bold;
}

/* introducing classes: .class */

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
h2, h3 {
    font: italic bold 2rem/2.3rem Arial, Helvetica, sans-serif;
    background-color: #D9BE6C;
}

/* pseudoclasses l v f h a */

ul a:link {
    font-weight: bold;
    text-decoration: none;
    color: #8C644D;
    font-size: 2rem;
}
ul a:visited {
    color: #734136;
    font-weight: normal;
}
a:hover {
    color: #BF9E60;
    text-decoration: underline;
    background-color: black;
}
a.harvard:link {
    color: maroon;
}
a.harvard:visited {
    color: maroon;
}